@{
    ViewData["Title"] = "Home Page";

    string FullName = null;
    string Id = null;
    string Role = null;

    if (TempData.ContainsKey("StateData"))
    {
        Dictionary<string, string> stateData = (Dictionary<string, string>)TempData["StateData"];

        FullName = stateData["_FullName"];
        Id = stateData["_Id"];
        Role = stateData["_Role"];
    }

    TempData.Keep();
}

<div class="text-center">
    @if(FullName == null) {
    <h1 class="display-4">Welcome guest</h1>   
    } else {
    <h1 class="display-4">Welcome @FullName</h1>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
